
.groupContainer {
    display: flex;
}

.groupContainer.vertical {
    flex-direction: column;
}

.groupContainer.horizontal {
    flex-direction: row;
}

.checkmarkContainer {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    margin-right: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .checkmarkContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border: 1px solid #e5e6e7;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .checkmarkContainer:hover input ~ .checkmark {
    border: 1.5px solid #2D8F7B;
  }
  
  /* When the radio button is checked, add a blue background */
  .checkmarkContainer input:checked ~ .checkmark {
    background-color: #2D8F7B;
    border: 1px solid #2D8F7B;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .checkmarkContainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .checkmarkContainer .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  